
.economia {
    display: flex;
    margin-bottom: 16px;
}

.economia p {
    line-height: 2;
}

.economia img {
    width: 500px;
    height: 200px;
    margin-left: 12px;
}

.economia-twu {
    display: flex;
    margin-bottom: 16px;
}

.economia-twu p {
    line-height: 2;
}

.economia-twu img {
    width: 500px;
    height: 200px;
    margin-right: 12px;
}
