
footer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222;
    color: #dbdbdb;

    .container-footer {
        background-color: rgb(88, 5, 5);
    }
}

footer h3 {
    
    margin: 0 auto;
    padding: 12px 0;
    color: #fff;
    max-width: 1023px;
    width: 100%;
    display: flex;
}

footer h5 {
    padding: 14px 0;
    border-bottom: 1px solid rgba(73, 71, 71, 0.158);
}

footer ul {
    column-gap: 1rem;
    column-count: 3;
    border-bottom: 1px solid rgba(73, 71, 71, 0.158);
}

footer li {
    padding: 12px 0;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: #dbdbdb;
}

footer li a:hover {
    text-decoration: underline;
}

footer p {
    text-align: center;
    padding: 12px;
}