
@media screen and (max-width: 767px) {
    .recomendado-lista li,
    .recomendado-lista-esporte li {
        width: 100%;
}

    .recomendado-lista ul,
    .recomendado-lista-esporte ul {
        width: 100%;
    }
    header {
        width: 100%;
    }

    .container,
    .container-flex {
        width: 90%;
        margin: 0 auto;
    }

    .saiba-mais ul {
        grid-template-columns:  repeat(2, 50%);
        column-gap: 2.7%;
        row-gap: 2%;

        li {
            padding: 2px 4px;
            width: 156px;
        }
    }

    .economia {
        display: block;

        img {
            width: 100%;
            margin: 0;
        }
    }

    .economia-twu {
        flex-direction: column-reverse;

        img {
            width: 100%;
            margin: 0;
        }
    }

    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }
    
    .destaque .noticia a {
        display: block;
        font-size: 1.5em;
    }
    
    .destaque .noticias img {
        margin-right: 0;
    }

    .noticias {
        display: block;
    }

    .noticias .noticias {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.container {
        flex-direction: column;
    }

    .submenu {
    display: block;
    width: 100%;
    position: relative;
    border: none;
    }

    .menu {
        display: none;
    }

    .menu > li {
        clear: both;
    }

    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 16px 0;
    }
    .container,
    .container-flex {
        width: 90%;
        margin: 0 auto;
    }

    .saiba-mais ul {
        grid-template-columns:  repeat(3, 33.3%);
        column-gap: 1%;
        row-gap: 2%;

        li {
            padding: 2px 10px;
            width: 220px;
            height: 300px;
        }
    }
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .destaque .noticia a {
        font-size: 1.5em;
    }

    .noticias {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}



